*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #F4F6F9;
display: flex;
}

.form-content {

background: linear-gradient(
5deg,
rgba(240, 156, 207, 0.733) 5%,
rgba(254, 3, 183, 0.518))
}

.form-content h2 { 
  color: #F4F6F9;
  font-size: 40px; 
  margin-bottom: 25px;

}

form {
display: flex;
flex-direction: column;
width: 25%;
}

label {
  font-size: 17px;
  color: #FFFF;
  margin-bottom:10px;
}

input , textarea {
padding: 12px 10px;
background-color: #fae8f5;
border: 0;
font-size: 15px;
color: #F4F6F9;
margin-bottom: 20px;
border-radius: 10px;
}

:focus{
  outline: 50px solid #ff00a6;
}

.btn {
  background-color: #ff00a6;
  width:150px;
  align-self: flex-end;
  cursor:pointer;
}

.btn:hover {
  background-color: #219BF9;
}

@media(max-width:91px){
  body {
    padding: 3px;
  }
  .form-content{
    width: 10%;
  }
  form{
    width: 10%;
  }
}